<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
    	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	<style type="text/css">
		body {font-family: 'Ubuntu', sans-serif;}
		@page { size: 8.5in 11in; margin-left: 1in; margin-right: 1in; margin-bottom: 0.5in }
		p { line-height: 115%; text-align: left; orphans: 0; widows: 0; margin-bottom: 0.1in; direction: ltr; background: transparent }
		h1 { line-height: 100%; text-align: justify; page-break-inside: auto; orphans: 0; widows: 0; margin-top: 0.33in; margin-bottom: 0.08in; direction: ltr; background: transparent; page-break-before: auto; page-break-after: auto }
		h1.western { font-size: 14pt; font-weight: bold }
		h1.cjk { font-size: 14pt; font-weight: bold }
		h1.ctl { font-size: 14pt }
		h2 { line-height: 100%; text-align: justify; page-break-inside: auto; orphans: 0; widows: 0; margin-top: 0.25in; margin-bottom: 0.06in; direction: ltr; background: transparent; page-break-before: auto; page-break-after: auto }
		h2.western { font-size: 12pt; font-weight: bold }
		h2.cjk { font-size: 12pt; font-weight: bold }
		h2.ctl { font-size: 12pt }
		a:link { color: #000080; text-decoration: underline }
	</style>
</head>
<body lang="en-US" link="#000080" vlink="#800000" bgcolor="#ffffff" dir="ltr">
<div title="header"><p style="page-break-inside: auto; orphans: 0; widows: 0; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto">
	<br/>

	</p>

</div><p align="left" style="line-height: 100%; page-break-inside: auto; orphans: 0; widows: 0; margin-top: 0.33in; margin-bottom: 0.08in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"><a name="_rjde11ut35j5"></a>
<font size="7" style="font-size: 36pt"><b><font size="6" style="font-size: 24pt">Appendix1 - Automated Cloud
Verification Report</font></b></font></p>
<p style="margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto">
<br/>

</p>


</div></br>

<h1 class="western"><a name="_cgnw9t1vnxc8"></a> Verification of the OpenNebula cloud</h1></br>

<table width="656" cellpadding="3" cellspacing="0" style="page-break-before: auto; page-break-after: auto">
	
	<col width="281"/>
	<col width="200"/>
	<col width="260"/>
	<tr valign="top">
		
		<td width="300" bgcolor="#666666" style="background: #666666; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">
			<font color="#ffffff"><font size="3" style="font-size: 12pt"><b>Verification
			Point</b></font></font></p>
		</td>
		<td width="90" bgcolor="#666666" style="background: #666666; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">
			<font color="#ffffff"><font size="3" style="font-size: 12pt"><b>Result</b></font></font></p>
		</td>
		<td width="260" bgcolor="#666666" style="background: #666666; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">
			<font color="#ffffff"><font size="3" style="font-size: 12pt"><b>Comments</b></font></font></p>
		</td>
	</tr>
         {% for k, v in verification_result.items() %}	
	<tr valign="top">
		<td width="300" height="21" style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">
			<b>{{ k }}</b></p>
		</td>
		<td width="90" style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">
			{{ v }}</p>
		</td>
		<td width="260" style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in"><p align="left" style="page-break-inside: auto; orphans: 0; widows: 0; border: none; padding: 0in; background: transparent; page-break-after: auto">

			</p>
		</td>
	</tr>
	{% endfor %}

	</p>
</table>
</div>
</body>
</html>
